stages:
#    - build
    - docker-prod
    - deploy-to-prod
    - dt-event
    - regcred-clean
    - prod-clean
#build:
#  rules:
#      - if: $CI_COMMIT_TAG == null
#  image: eclipse-temurin:21.0.8_9-jdk-alpine-3.22
#  stage: build
#  script:
#    - chmod +x gradlew
#    - ./gradlew dependencies
#    - ./gradlew bootJar
#    - ls -la

docker-prod:
  rules:
      - if: $CI_COMMIT_TAG == null
  image: docker:27.2.0
  stage: docker-prod
  #needs: ["monaco", "init_keptn"]
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: "/certs"
    DOCKER_TLS_VERIFY: 0
    DOCKER_DRIVER: overlay2
    DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"
    #important! MTU 1410 makes the MTU packages compatible with the underlying network. Otherwise, it will get stuck in downloads 
    DOCKER_DAEMON_OPTIONS: "--insecure-registry=$CI_REGISTRY --mtu=1410"
  services:
    - name: docker:27.2.0-dind
      entrypoint: [ "sh", "-c", "dockerd-entrypoint.sh $DOCKER_DAEMON_OPTIONS" ]
  before_script:
    - docker info
  script:
    - docker info
    - docker build -t $CI_REGISTRY_IMAGE:DEV-$CI_PIPELINE_IID .
    - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
    - docker push $CI_REGISTRY_IMAGE:DEV-$CI_PIPELINE_IID
    - echo "AUTH_TOKEN=$(sed -nE '$!{:a;N;$!ba;s/\n//g;s/"auth":[^"]*"([^"]*)"/\n\1\nAUTH/g};/^[^\n]*\nAUTH/P;D' ~/.docker/config.json)" >> auth.env
    - echo "$CI_PIPELINE_IID"
  artifacts:
        reports:
            dotenv: auth.env

deploy-to-prod:
    rules:
      - if: $CI_COMMIT_TAG == null
    dependencies:
        - docker-prod
    stage: deploy-to-dev
    image: alpine/kubectl:latest
    script:
        - kubectl create secret docker-registry $CI_PROJECT_NAME --docker-server=$CI_REGISTRY --docker-username=$CI_REGISTRY_USER --docker-password=$AUTH_TOKEN
        - echo "$CI_DEPLOY_USER, $CI_DEPLOY_PASSWORD"
        - kubectl create secret docker-registry $CI_PROJECT_NAME --docker-server=$CI_REGISTRY --docker-username=$CI_DEPLOY_USER --docker-password=$CI_DEPLOY_PASSWORD -n prod
        - |
            sed -i "s#image: .*#image: $CI_REGISTRY_IMAGE:DEV-$CI_PIPELINE_IID#" $CI_PROJECT_NAME.yaml
        - "kubectl -n prod apply -f $CI_PROJECT_NAME.yaml"
        - kubectl wait pod -l app=$CI_PROJECT_NAME  -n prod --for=condition=Ready --timeout=300s
        - kubectl delete secret $CI_PROJECT_NAME
        - kubectl delete secret $CI_PROJECT_NAME -n prod

dt-event-push:
    rules:
      - if: $CI_COMMIT_TAG == null
    stage: dt-event
    dependencies:
        - "deploy-to-dev"
    image: alpine/curl:8.14.1
    script:   
        - echo "$CI_COMMIT_MESSAGE"
        - echo "$CI_PIPELINE_IID"
        - |
            PAYLOAD1='{ "entitySelector": "type(SERVICE),entityName.startsWith('
        - |
            PAYLOAD2=' - )", "eventType": "CUSTOM_INFO", "properties": { "Gitlab Build Number": "'
        - |
            PAYLOAD3='", "Git commit": "'
        - |
            PAYLOAD4='" }, "title": "Deployment Event" }'
        - |
            PAYLOAD="$PAYLOAD1$CI_PROJECT_NAME$PAYLOAD2$CI_PIPELINE_IID$PAYLOAD3$CI_COMMIT_MESSAGE$PAYLOAD4"
        - |
            PAYLOAD=$(echo "$PAYLOAD")
        - |
            PAYLOAD="${PAYLOAD//$'\n'/}"
        - echo "$PAYLOAD" 
        - |
            PAYLOAD=$(echo "$PAYLOAD")
        - | 
            curl -X "POST" \
            "https://$DT_TENANT_UUID.live.dynatrace.com/api/v2/events/ingest" \
            -H "accept: application/json; charset=utf-8" \
            -H "Authorization: Api-Token $DT_ACCESS_TOKEN" \
            -H "Content-Type: application/json; charset=utf-8" \
            -d "$PAYLOAD"
      

regcred-clean:
    rules:
        - when: on_failure
        - if: $CI_COMMIT_TAG == null
    stage: regcred-clean
    image: alpine/kubectl:latest
    script:
        - kubectl delete secret $CI_PROJECT_NAME
    allow_failure: true

prod-clean:
    rules:
        - when: on_failure
        - if: $CI_COMMIT_TAG == null
    stage: prod-clean
    image: alpine/kubectl:latest
    script:
        - kubectl delete secret $CI_PROJECT_NAME -n prod
    allow_failure: true